<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">{{ label }} <span class="required-star" *ngIf="required">*</span></label>
  <input 
    type="text" 
    [id]="id"
    pInputText
    [placeholder]="placeholder"
    [disabled]="disabled ? true : false" 
    [readonly]="readonly" 
    [autofocus]="autofocus"
    variant="filled"
    (input)="onInputChange($event)"
    (change)="onInputChange($event)"
    (blur)="onBlurEvent()"
    [value]="value"
  />
</div>
<!-- [variant]="disabled ? 'filled' : variant" -->
 <!-- [variant]="variant" -->

