<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">
    {{ label }}
    <span class="required-star" *ngIf="required">*</span>
  </label>
  <p-selectButton 
    [disabled]="disabled"
    [autofocus]="autofocus"
    [options]="options"
    [optionValue]="optionValue"
    [optionLabel]="optionLabel"
    [optionDisabled]="optionDisabled"
    [unselectable]="unselectable"
    [multiple]="multiple"
    [allowEmpty]="allowEmpty"
    [style]="style"
    [styleClass]="styleClass"
    [dataKey]="dataKey"
    [(ngModel)]="value"
    (onChange)="onInputChange($event)"
    (onBlur)="onBlurEvent()"
  />
</div>

