<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">
    {{ label }}
    <span class="required-star" *ngIf="required">*</span>
  </label>
  <div class="flex justify-content-left">
    <div class="flex" [ngClass]="{'flex-column': column, 'flex-row': !column, 'gap-2': true, 'flex-wrap': !column}">
      <div *ngFor="let option of options" class="field-checkbox">
        <p-radioButton  
          [disabled]="disabled"
          [inputId]="option.id"
          [autofocus]="autofocus"
          [required]="required"
          [(ngModel)]="value"
          [label]="option.name"
          [name]="name"
          [value]="option"
          (onClick)="onInputChange($event)"
          (onBlur)="onBlur()"
        />
      </div>
    </div>
  </div>
</div>
