.layout-sidebar-custom {
    left: 1rem;
    padding: .5rem 0.5rem;
    // width: 260px;
}

// @media (min-width: 992px) {
//     .layout-wrapper.layout-static .layout-main-container {
//         margin-left: 260px;
//     }
// }
.layout-main-container {
    padding: 6rem 2rem 2rem 2rem;
}

.breadcrumbs {
    padding-bottom: 10px;
    margin-top: -10px;
    min-height: 20px;
}

::ng-deep {
    .p-breadcrumb {
        background: none;
        padding: 0;
        border: none;
    }
}

@media screen and (max-width: 992px) {
    .layout-sidebar {
        left: 0rem;
    }
}