<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">
    {{ label }}
    <span class="required-star" *ngIf="required">*</span>
  </label>
  <p-dropdown 
      [inputId]="inputId"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [autofocus]="autofocus"
      [required]="required"
      [options]="options"
      [showClear]="showClear"
      [checkmark]="checkmark"
      [variant]="variant"
      [editable]="editable"
      [filter]="filter"
      [filterBy]="filterBy"
      [optionValue]="optionValue"
      [optionLabel]="optionLabel"
      [(ngModel)]="value"
      [appendTo]="appendTo"
      (onChange)="onInputChange($event)"
      (onBlur)="onBlurEvent()"
/>
</div>
