<div class="card">
  <h3>Add Product</h3>
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="p-fluid p-formgrid grid">

        <!-- Product Type Input Select -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Product Type" formControlName="productTypeId" [options]="optionsDataSources?.['productTypeSelectList']" [required]="true" />
        </div>
  
        <!-- Name Input -->
        <div class="field col-12 md:col-4">
          <app-input-text label="Name" formControlName="name" [required]="true" [readonly]="false" />
          <app-validator-msg [control]="f['name']" />
        </div>

        <!-- Code Input -->
        <div class="field col-12 md:col-4">
          <app-input-text label="Code" formControlName="code" [required]="true" [readonly]="false" />
          <app-validator-msg [control]="f['code']" />
        </div>
  
        <!-- Category Input Select -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Category" formControlName="categoryId" [options]="optionsDataSources?.['categorySelectList']" [required]="true" />
        </div>
  
        <!-- Brand Input Select -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Brand" formControlName="brandId" [options]="optionsDataSources?.['brandSelectList']" [required]="false" />
        </div>

        <div class="field col-12 md:col-4">
          <app-input-select label="Barcode Symbology" formControlName="barCodeType" [options]="optionsDataSources?.['barcodeSymbolSelectList']" [required]="false" />
        </div>
  
        <!-- SKU Input -->
        <div class="field col-12 md:col-4">
          <app-input-text label="SKU" formControlName="sku" [required]="false" />
        </div>
  
        <!-- Cost Price Input Currency -->
        <div class="field col-12 md:col-4">
          <app-input-currency label="Cost Price" formControlName="costPrice" [required]="false" />
        </div>
  
        <!-- Price Input Currency -->
        <div class="field col-12 md:col-4">
          <app-input-currency label="Price" formControlName="salePrice" [required]="true" />
        </div>
  
        <!-- Wholesale Price Input Currency -->
        <div class="field col-12 md:col-4">
          <app-input-currency label="Wholesale Price" formControlName="wholesalePrice" [required]="false" />
        </div>
  
        <!-- Unit Input -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Unit" formControlName="unit" [options]="optionsDataSources?.['productUnitSelectList']" [required]="false" />
        </div>

        <!-- Sale Unit Input -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Sale Unit" formControlName="saleUnit" [options]="optionsDataSources?.['productUnitSelectList']" [required]="false" />
        </div>
  
        <!-- Purchase Unit Input -->
        <div class="field col-12 md:col-4">
          <app-input-select label="Purchase Unit" formControlName="purchaseUnit" [options]="optionsDataSources?.['productUnitSelectList']" [required]="false" />
        </div>
  
        <!-- Alert Quantity Input -->
        <div class="field col-12 md:col-4">
          <app-input-text label="Alert Quantity" formControlName="alertQuantity" [required]="false" />
        </div>

        <div class="field col-12 md:col-4">
          <app-input-select label="Tax Method" formControlName="taxMethod" [options]="taxMethods" [required]="false" />
        </div>

        <div class="field col-12 md:col-4">
          <app-input-select label="Tax" formControlName="taxRate" [options]="optionsDataSources?.['taxesSelectList']" [required]="false" />
        </div>
        
        <div class="field col-12 md:col-4">
          <app-input-select label="Discount Type" formControlName="discountType" [options]="discountTypes" [required]="false" />
        </div>

        <div class="field col-12 md:col-4">
          <app-input-currency label="Discount" formControlName="discount" [required]="false" />
        </div>

        <!-- Description Textarea -->
        <div class="field col-12">
          <app-input-editor
                    label="Description"
                    [required]="false"
                    [height]="300"
                    inputId="descriptionEditor"
                    formControlName="description"
                />

        </div>

      </div>
  
      <!-- File Upload -->
      <div class="mt-3">
        <app-input-file-adv [maxFileSize]="100000000" mode="advanced" location="images" (fileUrlsChange)="onFileUpload($event)" />
      </div>
  
      <!-- Form Actions -->
      <div class="mt-3 p-dialog-footer">
        <!-- <app-button label="Cancel" type="button" icon="pi pi-times" [text]="true" severity="warning" (onClick)="cancel()" /> -->
        <app-button label="Save" type="submit" icon="pi pi-check" [text]="true" [disabled]="form.invalid" />
      </div>
    </form>
  </div>
  
</div>
