<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">
    {{ label }}
    <span class="required-star" *ngIf="required">*</span>
  </label>
  <p-inputNumber
      [ngClass]="{'digit-right': textAlign === 'right', 'digit-center': textAlign === 'center'}"
      [inputId]="inputId"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [autofocus]="autofocus"
      [min]="min"
      [max]="max"
      [minFractionDigits]="minFractionDigits"
      [maxFractionDigits]="maxFractionDigits"
      [mode]="mode"
      [locale]="locale"
      [prefix]="prefix"
      [suffix]="suffix"
      [useGrouping]="useGrouping"
      [showButtons]="showButtons"
      [buttonLayout]="buttonLayout"
      [step]="step"
      [decrementButtonClass]="decrementButtonClass"
      [incrementButtonClass]="incrementButtonClass"
      [incrementButtonIcon]="incrementButtonIcon"
      [decrementButtonIcon]="decrementButtonIcon"
      [(ngModel)]="value"
      (ngModelChange)="onInputChange($event)"
      (onBlur)="onBlurEvent()"
></p-inputNumber>

</div>

<!-- (ngModelChange)="onInputChange($event)" -->
