<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">{{ label }}</label>
  <div class="flex justify-content-left">
    <div class="flex" [ngClass]="{'flex-column': column, 'flex-row': !column, 'gap-2': true, 'flex-wrap': !column}">
      <div *ngFor="let option of options" class="field-checkbox">
        <p-checkbox 
          [disabled]="disabled"
          [readonly]="readonly"
          [autofocus]="autofocus"
          [required]="required"
          [(ngModel)]="selectedOptions"
          [label]="option.name"
          [name]="name"
          [value]="option"
          [binary]="binary"
          (onChange)="onInputChange($event)"
          (onBlur)="onBlurEvent()"
        ></p-checkbox>
      </div>
    </div>
  </div>
</div>
