<div *ngIf="!hidden" class="cust-field">
  <label class="label" *ngIf="label">{{ label }} <span class="required-star" *ngIf="required">*</span></label>
  <p-password  
    [inputId]="inputId"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled" 
    [autofocus]="autofocus"
    [feedback]="feedback"
    [toggleMask]="toggleMask"
    [appendTo]="appendTo"
    [styleClass]="styleClass"
    [inputStyleClass]="inputStyleClass"
    [showClear]="showClear"
    [maxLength]="maxLength"
    [promptLabel]="promptLabel"
    [mediumRegex]="mediumRegex"
    [strongRegex]="strongRegex"
    [weakLabel]="weakLabel"
    [mediumLabel]="mediumLabel"
    [strongLabel]="strongLabel"
    [ngModel]="value"
    (ngModelChange)="onInputChange($event)"
    (onBlur)="onBlurEvent()"
  ></p-password>
</div>
