<div class="card">
  <h3>Purchase Details</h3>
  <div class="grid">
    <div class="col-md-4">
      <div>
        <span>From:</span>
      </div>
      <div>
        <span>Name: {{item.discountRate}}</span>
      </div>
      <div>
        <span>{{item.discountRate}}</span>
      </div>
    </div>
  </div>
</div>

        <!-- <table width="100%" style="text-align: right;">
          <tbody>
            <tr>
              <td class="" colspan="4">
                <strong>Items</strong>
              </td>
              <td class="">
                <span>{{totalItems}}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Total</strong>
              </td>
              <td class="">
                <span>{{ subTotal }}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Order Tax</strong>
              </td>
              <td class="">
                <span>{{ orderTaxAmount }}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Order Discount</strong>
              </td>
              <td class="">
                <span>{{ orderDiscountAmount }}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Shipping Cost</strong>
              </td>
              <td class="">
                <span>{{ shippingCostAmount }}</span>
              </td>
            </tr>
            <tr>
              <td class="" colspan="4">
                <strong>Grand Total</strong>
              </td>
              <td class="font-bold">
                <span>{{ grandTotalAmount }}</span>
              </td>
            </tr>
          </tbody>
        </table> -->