
.col-6{
  padding-top: 0rem;
}

.col-12{
  padding-bottom: 0rem;
}

.field.col-12{
  padding-top: 0rem;
}

.p-dialog-footer{
  padding-bottom: 0rem;
}

.validation-msg{
  color: #f19ea6;
}

.vertical-align-middle {
  display: flex;
  align-items: baseline;
}
