<p-splitButton
  pRipple
  [label]="showLabel ? label : null"
  [icon]="icon"
  [model]="model"
  [severity]="asSeverity"
  [raised]="raised"
  [text]="text"
  [outlined]="outlined"
  [size]="size"
  [plain]="plain"
  [iconPos]="iconPos"
  [tooltip]="tooltip"
  [tooltipOptions]="tooltipOptions"
  [disabled]="disabled"
  [rounded]="rounded"
  [tabindex]="tabindex"
  [ngStyle]="style"
  [ngClass]="styleClass"
  [ariaLabel]="ariaLabel"
  [autofocus]="autofocus"
  [appendTo]="appendTo"
  (click)="handleClick($event)"
  (focus)="handleFocus($event)"
  (blur)="handleBlur($event)"
  (onDropdownClick)="handleDropdownClick($event)"
  (onMenuHide)="handleMenuHide($event)"
  (onMenuShow)="handleMenuShow($event)"
>
</p-splitButton>
