<p-button
  pRipple
  [label]="showLabel ? label : null"
  [icon]="icon"
  [iconPos]="iconPos"
  [type]="type"
  [disabled]="disabled"
  [loading]="loading"
  [loadingIcon]="loadingIcon"
  [raised]="raised"
  [rounded]="rounded"
  [text]="text"
  [plain]="plain"
  [severity]="asSeverity"
  [outlined]="outlined"
  [tabindex]="tabindex"
  [size]="size"
  [ngStyle]="style"
  [ngClass]="styleClass"
  [ariaLabel]="ariaLabel"
  [autofocus]="autofocus"
  [pTooltip]="tooltip"
  [tooltipPosition]="tooltipPos"
  (click)="handleClick($event)"
  (focus)="handleFocus($event)"
  (blur)="handleBlur($event)"
  [badge]="badge"
/>

